# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*

# source mods live in their own repositories
# mods/*
# !mods/.gitkeep

# caches
.eslintcache
.cache
*.tsbuildinfo
**/.ymb*
**/.ymb*/

# IntelliJ based IDEs
.idea

# OS specific files
.DS_Store
Thumbs.db
desktop.ini
